//Profile config names for nf-core/configs
params {
  config_profile_description = 'Centro Nacional de Analisis Genomico (CNAG-CRG), Spain: CNAG nf-core config'
  config_profile_contact = 'Raul Tonda (raul.tonda@cnag.crg.eu)'
  config_profile_url = 'https://hpc.nih.gov/apps/nextflow.html'
  max_memory = 1024.GB
  max_cpus = 128
  max_time = 12.h

  igenomes_base = '/scratch_isilon/groups/dat/data/IGENOMES/references/Homo_sapiens'
}

process {
    container = '/home/groups/dat/agarcia/nextflow/gpap_annot/spark_hpc_submit_0.3-2023-03-01-455bc5c5b800.sif'
    maxRetries = 3

    withName: annotateVCF { containerOptions = '-B /:/ ' }
    withName: importVCF { containerOptions = '-B /scratch_isilon:/scratch_isilon' }
    withName: pushSNV { containerOptions = '-B /:/ ' }
    withName: updateDM { containerOptions = '-B /:/ ' }
    
    withName: loadPGX { containerOptions = '-B /:/ ' }
    withName: pushPGX { containerOptions = '-B /:/ ' }
    withName: updateDMPGX { containerOptions = '-B /:/ ' }
    withName: uploadS3 { containerOptions = '-B /:/ ' }
    withName: uploadS3_gvcfs { containerOptions = '-B /scratch_isilon:/scratch_isilon' }

    withName: importCNV { 
      container = '/scratch_isilon/groups/dat/data/GPAP/ae2deb3edc76-2024-02-22-5aab3d7c1514.sif'
      containerOptions = '-B /:/'
    }
    withName: exportCNV { 
      container = '/scratch_isilon/groups/dat/data/GPAP/ae2deb3edc76-2024-02-22-5aab3d7c1514.sif'
      containerOptions = '-B /:/'
    }

    withName: preprocessGERMLINE { 
      container = '/scratch_isilon/groups/dat/agarcia/singularity_images/bcftools-tabix-2024-04-04-ecd21b31dc93.sif'
      containerOptions = '-B /:/'
    }
    withName: preprocessSOMATIC { 
      container = '/scratch_isilon/groups/dat/agarcia/singularity_images/bcftools-tabix-2024-04-04-ecd21b31dc93.sif'
      containerOptions = '-B /:/'
    }
    
    withName: annotaONCO { 
      container = '/scratch_isilon/groups/dat/data/GPAP/ae2deb3edc76-2024-02-22-5aab3d7c1514.sif'
      containerOptions = '-B /:/ '
    }
    
    withName: prepareConfig { containerOptions = '-B /:/'}
    withName: generateChannels { containerOptions = '-B /:/'}
    withName: generateChannelsGERMLINE { containerOptions = '-B /:/'}
}

profiles {
  local {
    process.executor = 'local'
  }

  standard {
    process.executor = 'slurm'
    executor.$slurm.pollInterval = '1 min'
    executor.$slurm.queueStatInterval = '1 min'
    executor.qos = 'vlong'
    executor.queueSize = 800
    executor.$slurm.submitRateLimit = '500/1min'
  }
}

singularity {
  enabled = true
  autoMounts = true
  envWhitelist='https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOBID'

  //As names change, the bind paths required may change too. To chack that everything is being captured:
  //Run '. /usr/local/current/singularity/app_conf/sing_binds' to populate $SINGULARITY_BINDPATH
  //Check that each folder in $SINGULARITY_BINDPATH is listed with -B in the runOptions below. If not, add it.
  runOptions = ' -B /scratch_isilon --env TMPDIR="$TMPDIR" '
}
